body {
    background-color: green;
}

#greetings{

    font-family: 'Times New Roman', Times, serif;
}

.app{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    height: 100vh;
    background-color: gray;
    color: white;
}

.button-wrapper{
    display: flex;
    gap: 1rem;

}

.positive{
    color: green;

}


.negative {

    color: red;
}